*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #1f2937;
}

.navbar .container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
}

.navbar .container ul{
    list-style-type: none;
    display: flex;
}

.navbar .container ul a{
    text-decoration: none;
    color: #f9faf8;
    margin-left: 20px;
}

.navbar .container .logo{
    font-size: 24px;
    color: #f9faf8;
}
