*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .container{
    padding-top: 15px;
}

.navbar, .header{
    background-color: #1f2937;
}

.navbar .container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .container ul{
    list-style-type: none;
    display: flex;
}

.navbar .container ul a{
    text-decoration: none;
    color: #f9faf8;
    margin-left: 20px;
}

.navbar .container .logo{
    font-size: 24px;
    color: #f9faf8;
}

.header .container{
    display: flex;
    width: 1100px;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 125px;
}

.header .container img{
    width: 550px;
}

.header .container div{
    width: 500px;
}

.header .container div h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.header .container div p{
    color: #e5e7eb;
    font-size: 18px;
}

.header .container div button {
    background-color: #3882f8;
    color: #fff;
    border: none;
    padding: 10px 35px;
    border-radius: 7px;
    margin-top: 10px;
}

.boxes .container2 {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-bottom: 100px;

}

.boxes h1{
    text-align: center;
    margin: 40px 0px;
}

.boxes .container2 .box{
    width: 200px;
    text-align: center;
}

.boxes .container2 .box img{
    width: 200px;
    height: auto;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
}

.quote .container3{
    width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 100px;
    text-align: center;

}

.call-to-action4 .container{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #3882f8;
    padding: 70px 160px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 7px;
    color: white;
}

.call-to-action4 .container button{
    border: 2px solid white;
    color: white;
    font-weight: bold;
    background-color: #3882f8;
    padding: 5px 50px;
    font-size: 16px;
    border-radius: 7px;
}